#tooltip {
    position: absolute;
    width: 250px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

body {
    position: absolute;
    width: 960px;
}

#container_zoom {
    text-align: left;
}

#container_zoom button {
    opacity: 0.9;
    background-color: #dadcde !important;
    color: black !important;
}

#container_zoom div {
    display: inline-block;
}

#container_LeftSidebar, #centralContainer, #nnblocks {
    height: 100%;
    overflow-y: auto;
}

#container_Legend {
    right: 0;
}