#tooltip {
    position: absolute;
    width: 250px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

body {
    position: absolute;
    width: 960px;
}

/*svg {*/
    /*font: 10px sans-serif;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*rect {*/
    /*fill: #ddd;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
    /*fill: none;*/
    /*stroke: #fff;*/
/*}*/

#plusZoom {
    position: relative;
    right: 780px;
    top: -320px;
}

#minusZoom {
    position: relative;
    right: 780px;
    top: -317px;
}

